---
import Layout from "../layouts/Layout.astro";
import SocialNet from "../components/SocialNet.astro";
import Linkedin from "../icons/Linkedin.astro";
import GitHub from "../icons/GitHub.astro";
import Email from "../icons/Email.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import ExperienceIcon from "../icons/ExperiencieIcon.astro";
import ProjectIcon from "../icons/ProjectIcon.astro";
import Projects from "../components/Proyectos.astro";

---

<Layout
  title="Portfolio de Henry Doudo - Desarrollador ,Programador web y Administrativo."
  description="Contrata a Henry Doudo para crear aplicaciones web. Desarrollador web y Adminsitrativo. Especializado en productos"
>
  <main class="px-4">
    <SectionContainer id="inicio" class="py-44 pb-32" >
		<img class="rounded-full w-20 h-20 mb-5" src="/mifoto.jpg" alt="Henry photo">
      <h1 class="text-3xl md:text-4xl font-bold flex flex-row gap-x-4 lg:pb-10">
        Hey, soy Henry 👨‍💻
      </h1>
      <h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]">
        <span class="opacity-80">Desarollador web y Administrativo</span>. De
        Barcelona, España. Con amplios <span class="text-yellow-500/90"
          >conocimientos en gestión de empresas y productos</span
        >. Especializado en crear soluciones eficientes y atractivas.
      </h2>
      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialNet href="https://www.linkedin.com/in/henry-doudo-349ba922b/">
          <Linkedin class="w-4 h-4" />
           LinkedIn
        </SocialNet>
        <SocialNet href="https://github.com/HenryDc1">
          <GitHub class="w-4 h-4" />
           GitHub
        </SocialNet>
        <SocialNet href="mailto:henrydcaicedo@hotmail.com">
          <Email class="w-3 h-3" />
           henrydcaicedo@hotmail.com
        </SocialNet>
      </nav>
    </SectionContainer>
    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-4 flex gap-x-3 items-center">
        <ExperienceIcon class="size-7" />
         Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer>
      <h2 id="proyectos"class="text-3xl font-semibold mb-4 flex gap-x-3 items-center">
        <ProjectIcon class="size-7" />
         Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  
  </main>
</Layout>
