---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Julio 2022- Mayo 2023",
    title: "Asociado de Inventario  - Footlocker",
    description: "Formaba parte de un equipo de trabajo en el que tenía la responsabilidad de cuidar la experiencia en tienda de los clientes, dar soporte a mis compañeros y estar en constante comunicacióncon el equipo de almacén.| ERP Oracle",
    link: "#",
  },
  {
    date: "Octubre 2021- Abril 2022",
    title: "Administrativo de nóminas - DHL",
    description: "Gestionaba las entradas y salidas de mercancía del almacén así como su respectiva documentación, en momentos puntuales hacia tareas de picking.",
    link: "#",
  },
  {
    date: "Marzo 2020 - Julio 2020",
    title: "Auxiliar Administrativo - Aplica",
    description: "Mis tareas eran gestionar y archivar facturas de clientes, contabilizar  clientes además de mercancía, formalizar procesos administrativos con hacienda y dar cobertura a los distintos departamentos de la empresa. | Excel,  ",
    link: "#",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
