<header class="flex justify-center items-center py-2 w-7:w-[1000px] mx-auto border border-solid border-gray-300 p-4 rounded-full mt-2 bg-gray-200 bg-opacity-50">
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#inicio" class="hover:text-gray-800 hover:text-white-2000 ">Inicio</a>
        <a href="#experiencia" class="hover:text-gray-800 hover:text-white-2000 ">Experiencia</a>
        <a href="#proyectos" class="hover:text-gray-800 hover:text-white-2000 ">Proyectos</a>
    </nav>
</header>
